<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apiss.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apiss.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Apiss</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Apiss</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CustomerContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tedxsr2gtq.database.windows.net,1433;Initial Catalog=ApiDb;User ID=ApidDbAdmin@tedxsr2gtq;Password=Password2014" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Apis.Models.CustomerContext, Apis" MigrationConfiguration="Apis.Migrations.Configuration, Apis" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CustomerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tedxsr2gtq.database.windows.net,1433;Initial Catalog=ApiDb;User ID=ApidDbAdmin@tedxsr2gtq;Password=Password2014</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>